@inject Blazorcrud.Client.Shared.PageHistoryState PageHistoryState

<EditForm Model="@categoria" OnValidSubmit="@OnValidSubmit">
    <FluentValidator TValidator="CategoriaValidator" />
    <div class="form-group">
        <label>Nombre:</label>
        <div>
            <InputText @bind-Value="@categoria.Nombre" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => categoria.Nombre)" />
        </div>
    </div>
    <div class="form-group">
        <label>Foto:</label>
        <div>
            <InputText @bind-Value="@categoria.Foto" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => categoria.Foto)" />
        </div>
    </div>
  

    <div class="form-group">
        <button disabled="@loading" class="btn btn-primary">
            @if (loading) 
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            @ButtonText
        </button>
        @if (PageHistoryState.CanGoBack()){
            <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Cancel</NavLink>
        }
        else{
            <NavLink href="/user/1" class="btn btn-link">Back</NavLink>
        }
    </div>

</EditForm>

@code {
    [Parameter]
    public Categoria categoria { get; set; }
    [Parameter]
    public string ButtonText { get; set; } = "Save";
    [Parameter]
    public bool loading {get; set;} = false;
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}