@page "/person/viewperson/{id}"
@inject INoticiaService PersonService
@inject NavigationManager navManager
@inject Blazorcrud.Client.Shared.PageHistoryState PageHistoryState

<h1>Ver Noticia</h1>
<br/>

<table class="table col-md-6">
    <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>@person.NoticiaId</td>
        </tr>
        <tr>
            <th scope="row">Titulo</th>
            <td>@person.Titulo</td>
        </tr>
        <tr>
            <th scope="row">Body</th>
            <td>@person.Body</td>
        </tr>

        <tr>
            <th scope="row">IdCategoria</th>
            <td>@person.IdCategoria</td>
        </tr>
    </tbody>
</table>

>


<div class="form-group">
    @if (PageHistoryState.CanGoBack()){
        <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Back</NavLink>
    }
    else{
        <NavLink href="/person/1" class="btn btn-link">Back</NavLink>
    }
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    Noticia person = new Noticia
    {
            Titulo = "",
        Body = "",

            //IdCategoria = "",
      
    };
    
    protected async override Task OnParametersSetAsync()
    {
       person = await PersonService.GetPerson(int.Parse(Id));
    }
}